<div class="scholarship scholarship-show">
  <section class="section--basic">
    <h2><span>Título: </span><%= @scholarship.title %></h2>
    <dl>
      <dt class="scholarship-show__label">Descripción:</dt>
      <dd><%= @scholarship.description %></dd>

      <dt class="scholarship-show__label">Fecha de inicio:</dt>
      <dd><%= @scholarship.start %></dd>

      <dt class="scholarship-show__label">Fecha de termino:</dt>
      <dd><%= @scholarship.end %></dd>

      <dt class="scholarship-show__label">Convocatoria completa:</dt>
      <dd><%= @scholarship.source%></dd>

      <dt class="scholarship-show__label">Categoría:</dt>
      <dd><%= @scholarship.category.name %></dd>

      <dt class="scholarship-show__label">Beneficios:</dt>
      <dd><%= @scholarship.benefits %></dd>

      <dt class="scholarship-show__label">Requerimientos:</dt>
      <% @scholarship.requirements.each do |requirement| %>
        <dd><%= requirement.name %></dd>
      <% end %>
    </dl>
    <div class="scholarship-show__actions">
      <%= link_to edit_scholarship_path(@scholarship.id), class: 'btn__actions btn__circle btn__actions--edit' do %>
        <% fa_icon 'pencil' %>
      <% end %>
      <%= link_to scholarship_path(@scholarship.id), method: :delete, class: 'btn__actions btn__circle btn__actions--delete' do %>
        <% fa_icon 'trash'%>
      <% end %>
    </div>
  </section>
  <section>
    <%= render partial: 'requirements', locals: { scholarship: @scholarship } %>
  </section>
</div>
