<div>
  <h2><%= @scholarship.title %></h2>
  <div>
    <ul>
      <li><%= @scholarship.description %></li>
      <li><%= @scholarship.start %></li>
      <li><%= @scholarship.end %></li>
      <li><%= @scholarship.source%></li>
      <li><%= @scholarship.category %></li>
      <li><%= @scholarship.benefits %></li>
    </ul>
  </div>
</div>
